@model IEnumerable<Fadiou.Models.InfirmierViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    <a href=" @Url.Action("Create", "Infirmier")" title="Nouveau">
        <i class="fa fa-save"></i> Nouveau
    </a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nomPers)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.prenomPers)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.emailPers)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.telPers)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.specialteInf)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nomPers)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.prenomPers)
        </td>
       
        <td>
            @Html.DisplayFor(modelItem => item.emailPers)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.telPers)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.specialteInf)
        </td>
        <td>
            <a href="@Url.Action("Edit", "Infirmier", new { id=item.idPers })" title="Modifier">
                <i class="fa fa-edit"></i>
            </a>|
            <a  href="@Url.Action("Delete", "Infirmier", new { id=item.idPers })" title="Supprimer">
                <i class="fa fa-remove"></i>
            </a>
                @*@Url.Action()
                @Html.ActionLink("Edit", "Edit", new { id = item.idPers }) |
                @Html.ActionLink("Details", "Details", new { id = item.idPers }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.idPers })*@
        </td>
    </tr>
}

</table>
